@model PopeyeJar.Models.JarMaterialViewModel

@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Jars" asp-action="Index" method="get">
    <p>
        <select asp-for="JarMaterial" asp-items="Model.Material">
            <option value="">All</option>
        </select>

        Material: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Jars[0].Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jars[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jars[0].Shape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jars[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jars[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Jars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shape)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
